@import url(assets/styles/import.css);

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-1);
  height: 32px;
}
.top-nav div {
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 60px;
  font-size: var(--text-1);
}
.top-nav div li a {
  text-decoration: none;
  color: var(--cor-4);
}
.top-nav div li a:hover,
.top-nav div li a:focus {
  color: var(--cor-5);
  transition: 100ms ease-in-out;
}
.main-nav {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 30px 0;
  gap: 50px;
}
.search-bar {
  border: 2px solid var(--cor-3);
  border-radius: 5px;
  max-width: 100%;
}
.search-bar input {
  width: 50ch;
  font-size: var(--text-3);
  padding: 15px 20px;
  height: 15px;
  border: none;
  outline: 0;
}
.search-bar button {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
}
.dropdown-content {
  display: none;
}
.cart a {
  text-decoration: none;
}
.cart span {
  position: relative;
  right: 20px;
  top: 3px;
  padding: 5px 2px;
  font-size: var(--text-1);
  border-radius: 50%;
  color: var(--cor-1);
  background-color: var(--cor-4);
}
