@import url(assets/styles/import.css);

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-1);
  height: 32px;
}
.top-nav div {
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 60px;
  font-size: var(--text-1);
}
.top-nav div li a {
  text-decoration: none;
  color: var(--cor-4);
}
.top-nav div li a:hover,
.top-nav div li a:focus {
  color: var(--cor-5);
  transition: 100ms ease-in-out;
}
.main-nav {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 30px 12.5%;
  gap: 50px;
}

/* SEARCH */

.search-bar {
  border: 2px solid var(--cor-3);
  border-radius: 5px;
  max-width: 100%;
}
.search-bar input {
  width: 50ch;
  font-size: var(--text-3);
  padding: 15px 20px;
  height: 15px;
  border: none;
  outline: 0;
}
.search-bar button {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: none;
}
.search-bar button:hover {
  cursor: pointer;
}

/* ENTRAR */

.dropdown-menu {
  display: flex;
  width: 100px;
  height: 50px;
}
.dropdown-menu h1 {
  z-index: 1;
  padding: 15px;
  font-weight: bold;
  font-size: var(--text-5);
  background-image: url(assets/imgs/chevron-down-icon.svg);
  background-repeat: no-repeat;
  background-position-x: 68px;
  background-position-y: 22px;
}
.dropdown-content::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--cor-0);
  transform: rotate(45deg);
  border-top: 2px solid var(--cor-3);
  border-left: 2px solid var(--cor-3);
  position: relative;
  top: -7px;
  right: -112px;
}
.dropdown-content {
  display: block;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--cor-3);
  width: fit-content;
  height: fit-content;
  padding: 0 15px;
  position: relative;
  top: 35px;
  right: 140px;
  z-index: 2;
  background-color: var(--cor-0);
  display: none;
}
.dropdown-content div {
  list-style: none;
  width: 120px;
  height: 95px;
}
.dropdown-content div li {
  margin-bottom: 15px;
}
.dropdown-content div li a {
  font-size: var(--text-4);
  color: var(--cor-4);
  text-decoration: none;
}
.dropdown-content div li a b {
  font-weight: bold;
}
.dropdown-menu:hover .dropdown-content {
  display: block;
  transition: 200ms ease-in-out;
}
.dropdown-content div li a:hover {
  color: var(--cor-5);
  transition: 200ms ease-in-out;
}

/* CART */
.cart {
  margin-top: 9px;
}
.cart a {
  text-decoration: none;
}
.cart span {
  position: relative;
  right: 20px;
  top: 3px;
  padding: 5px 2px;
  font-size: var(--text-1);
  border-radius: 50%;
  color: var(--cor-1);
  background-color: var(--cor-4);
  pointer-events: none;
}
